* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}
h1 {
  color: #ccc;
  weight: 300;
}
figure {
  margin: 0;
  padding: 0;
}
.content {
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin-bottom: 400px;
}
.content article {
  padding: 50px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.height {
  height: 2000px;
}
.tumble-box {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #dddddb;
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 2;
}
.logo {
  height: 300px;
  width: 960px;
  background-image: url("../img/tumbleTech_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  transition: -webkit-transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -480px;
}
.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url("../img/fore-bird.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
  display: none;
}
.tumbleTech {
  width: 960px;
  height: 200px;
  color: #111728;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}
.back-bird {
  width: 960px;
  height: 298px;
  background-image: url("../img/back-bird.png");
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  display: none;
}
.stairs {
  width: 960px;
  height: 400px;
  background-image: url("../img/stairs.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 600px;
  left: 50%;
  margin-left: -250px;
}
.blog-posts {
  margin-top: 100px;
}
.blog-posts .post {
  padding: 20px 20px 0;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  position: relative;
}
footer {
  background: #000;
  color: #fff;
  padding: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer-stuff {
  max-width: 640px;
  margin: 0 auto;
}
footer a {
  color: #fff;
  transition: all 0.5s;
}
footer a:hover {
  color: #1eaedb;
}
footer input {
  color: #000;
}
